body {
    background-color: black;
    box-sizing: border-box;
}
header {
    z-index: 0;
}
#home_page_header {
    text-align:center;
    font-size:1.35em;
}
/* logo image */
.logo {
    max-width: 180px;
    padding:20px;
}
#home_page_header nav {
    padding-bottom: 20px;
}
#home_page_header nav a {
    text-decoration: none;
    color: white;
    margin-left: 60px;
    margin-right:60px;
    padding-bottom: 13px;
}
#home_page_header nav a:hover{

    border-bottom: 3px solid rgb(226, 140, 11);

}
.home_page_video {
    justify-self: center;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.text p {
    color:white;
    line-height:2.2;
    font-size:1.3em;
    /* margin-left: 80px; */
    /* padding: 20; */
}
.text {
    background-color: rgba(0,0,0,0.8);
    grid-column: 3;
    grid-row:1; 
    margin-left: 80px;
    padding: 20px;
    /* display:flex; */
    align-items:center;
}
.text h3 {
    color:white;
    font-size: 1.4em;
}


#myVideo {
    width: 100%;
    height:600px;
    object-fit: cover;
    object-position: top;
    z-index:-1;
    grid-column:1/4;
    grid-row:1;
    margin-bottom: 80px;
}
footer {
    position:absolute;
    width:100%;
    background-color:rgb(30, 30, 30);
    color:white;
    text-align:center;
    margin-top:80px;
    padding-top: 13px;
}

footer a {
    text-decoration: none;
    color:white;
}
footer img {
    margin:10px;
    width:30px;
    border-radius:25%;
}
footer h4 {
    margin:2px;
    padding-bottom: 5px;
}
.copyright {
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.home_bottom_videos { 
    display:flex;
    /* grid-template-columns: 1fr 1fr 1fr; */
    gap: 70px; 
    flex-wrap: wrap;
    justify-content: space-between;
} 
.home_bottom_videos > * {
    flex: 1;
} 

/* History page */

.european_variety_shows {
    background-image: url("./images/old mic1.jpg");
    width: 100%;
    height: calc(100vh - 180px);
    background-size: cover;
    margin-bottom: 20px;
    
}
.european_text_box {
    background-color: rgba(0,0,0,0.4);
    margin: 10px 50% 30% 10px;
    font-size:1.3em;
    line-height: 2em;
    padding: 30px;
    color: white;
    filter: drop-shadow(0 0 2px #000)
}
h3 {
    color:rgb(226, 140, 11);
    font-size: 1.3em;
}
.united_kingdom {
    background-image: url("./images/jimmy-carr.jpg");
    width: 100%;
    height: calc(100vh - 70px);
    background-size: cover;
    margin-bottom: 20px;
}
.uk_text_box {
    background-color: rgba(0,0,0,0.6);
    margin: 10px 10px 30% 50%;
    font-size:1.3em;
    line-height: 1.8em;
    padding: 30px;
    color: white;
    filter: drop-shadow(0 0 2px #000)
}
.united_states {
    background-image: url("./images/LouisCK-Sorry.jpg");
    width: 100%;
    height: calc(100vh - 80px);
    background-size: cover;
    margin-bottom: 20px;
}
.us_text_box {
    background-color: rgba(0,0,0,0.65);
    margin: 10px 50% 30% 10px;
    font-size:1.3em;
    line-height: 2em;
    padding: 30px;
    color: white;
    filter: drop-shadow(0 0 2px #000)
}
.russia {
    background-image: url("./images/ruslan\ scena\ flipped.jpg");
    width: 100%;
    height: calc(100vh - 130px);
    background-size: cover;
    margin-bottom: 20px;
}
.russia_text_box {
    background-color: rgba(0,0,0,0.6);
    margin: 10px 10px 30% 50%;
    font-size:1.3em;
    line-height: 2.4em;
    padding: 30px;
    color: white;
    filter: drop-shadow(0 0 2px #000)
}

/* Comedians Page */
/* .container {
    position: relative;
    width: 30%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .container:hover .overlay {
    opacity: 0.7;
  }
  
  .text_over_picture {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  } */

.comedians_main_grid {
      display:grid;
      grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      margin-top: 50px;
      gap: 70px;
}
.bold {
    color: orange;
    font-size: 1.2em;
}
section a {
    color: white;
    font-size: 1.1em;
}

.zhenya {
    grid-column: 2;
    grid-row:1;  
    position: relative;
    overflow: hidden;
}
.zhenya img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    
}
.zhenya_text a {
    display:none;
}
.zhenya:hover a {
    text-decoration: none;
    position: absolute;
    height:cover;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    color: white;
    padding: 15px;
    line-height: 1.4;
    background-color: rgba(30,30,30,0.8);
    margin:0;
    display:block;
}

.ruslan {
    grid-column: 3;
    grid-row: 1;
    position: relative;
    overflow: hidden;
}
.ruslan img {
    width: 110%;
    height: 66%;
    object-fit: cover;
    object-position: cover;
    margin-left: -13px;
}
.ruslan:hover a {
    text-decoration: none;
    position: absolute;
    height:cover;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    color: white;
    padding: 15px;
    line-height: 1.4;
    background-color: rgba(30,30,30,0.8);
    margin:0;
    display:block;
    height: 60%
}
.ruslan_text a {
    display: none;
}
.nurlan {
    grid-column: 4;
    grid-row: 1;
    position: relative;
    overflow: hidden;
}
.nurlan img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.nurlan_text a {
    display: none;
}
.nurlan:hover a {
    text-decoration: none;
    position: absolute;
    height:cover;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    color: white;
    padding: 15px;
    line-height: 1.4;
    background-color: rgba(30,30,30,0.8);
    margin:0;
    display:block;
}

.ivan {
    grid-column: 3;
    grid-row:2;
    position: relative;
    overflow: hidden;
    transform: translateY(-160px);
}
.ivan img {
    width: 100%;
    height: 66%;
    object-fit: cover;
    object-position: top;
}
.ivan_text a {
    display: none;
}
.ivan:hover a {
    text-decoration: none;
    position: absolute;
    height:cover;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    color: white;
    padding: 15px;
    line-height: 1.4;
    background-color: rgba(30,30,30,0.8);
    margin:0;
    display:block;
    height: 60%;
}
.alex {
    grid-column: 2;
    grid-row:2;
    position: relative;
    overflow: hidden;
}

.alex img {
    width: 135%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    margin-left: 0px;
}
.alex_text a {
    display: none;
}
.alex:hover a {
    text-decoration: none;
    position: absolute;
    height:cover;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    color: white;
    padding: 15px;
    line-height: 1.4;
    background-color: rgba(30,30,30,0.8);
    margin:0;
    display:block;
}
.zoya {
    grid-column: 4;
    grid-row:2;
    position: relative;
    overflow: hidden;
}

.zoya img {
    width: 175%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin-left: -90px;
}
.zoya_text a {
    display: none;
}
.zoya:hover a {
    text-decoration: none;
    position: absolute;
    height:cover;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    color: white;
    padding: 15px;
    line-height: 1.4;
    background-color: rgba(30,30,30,0.8);
    margin:0;
    display:block;
}
.abramov {
    grid-column: 2;
    grid-row:3;
    position: relative;
    overflow: hidden;
}

.abramov img {
    width: 160%;
    object-fit: cover;
    object-position: center;
    margin-left: -75px;
}
.abramov_text a {
    display: none;
}
.abramov:hover a {
    text-decoration: none;
    position: absolute;
    height:cover;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    color: white;
    padding: 15px;
    line-height: 1.4;
    background-color: rgba(30,30,30,0.8);
    margin:0;
    display:block;
}
.slava {
    grid-column: 3;
    grid-row:3;
    position: relative;
    overflow: hidden;
    transform: translateY(-330px);
}

.slava img {
    width: 160%;
    height: 66%;
    object-fit: cover;
    object-position: center;
    margin-left: -75px;
}
.slava_text a {
    display: none;
}
.slava:hover a {
    text-decoration: none;
    position: absolute;
    height:cover;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    color: white;
    padding: 15px;
    line-height: 1.4;
    background-color: rgba(30,30,30,0.8);
    margin:0;
    display:block;
    height: 60%;
}
.vika {
    grid-column: 3;
    grid-row:3;
    position: relative;
    overflow: hidden;
    transform: translateY(65px);
}

.vika img {
    width: 160%;
    height: 66%;
    object-fit: cover;
    object-position: center;
    margin-left: -75px;
}
.vika_text a {
    display: none;
}
.vika:hover a {
    text-decoration: none;
    position: absolute;
    height:cover;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    color: white;
    padding: 15px;
    line-height: 1.4;
    background-color: rgba(30,30,30,0.8);
    margin:0;
    display:block;
    height: 60%;
}
.stas {
    grid-column: 4;
    grid-row:3;
    position: relative;
    overflow: hidden;
}

.stas img {
    width: 173%;
    object-fit: cover;
    object-position: center;
    margin-left: -70px;
}
.stas_text a {
    display: none;
}
.stas:hover a {
    text-decoration: none;
    position: absolute;
    height:cover;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    color: white;
    padding: 15px;
    line-height: 1.4;
    background-color: rgba(30,30,30,0.8);
    margin:0;
    display:block;
}

.guram {
    position: relative;
    overflow: hidden;
    width: 70%;
    height: 300px;
    margin: 0 auto;
    margin-top: 30px

}

.guram img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.guram_text a {
    display: none;
}
.guram:hover a {
    text-decoration: none;
    position: absolute;
    height:cover;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    color: white;
    padding: 15px;
    line-height: 1.4;
    background-color: rgba(30,30,30,0.8);
    margin:0;
    display:block;
    width: 100%
}






@media screen and (max-width: 900px) {
    .text, .home_page_video_div {
        display: block;
        height: auto;
    }
    .text {
        grid-column:1/4;    
        grid-row: 2;
        margin:5px;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    iframe {
        display: block;
        padding: 10px;
        margin-bottom:10px;
        width: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
    .european_variety_shows {
        display: flex;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: left;
        white-space: inherit;
      }
    .european_text_box  {
        margin: 0;
        padding: 0;
    }
    
    .united_kingdom {
        display: flex;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: left;
        white-space: inherit; 
    }
    .uk_text_box {
        margin: 0;
        padding: 0;
    }
    .united_kingdom {
        display: flex;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: left;
        white-space: inherit;  
    }
    .us_text_box {
        margin: 0;
        padding: 0;
    }
    .russia {
        display: flex;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: left;
        white-space: inherit;  
    }
    .russia_text_box {
        margin: 0;
        padding: 0;
    }

}