body {
    background-color: black;
}
#home_page_header {
    text-align:center;
}
/* logo image */
.logo {
    max-width: 180px;
    padding:30px;
}
#home_page_header nav {
    padding-bottom: 20px;
}
#home_page_header nav a {
    text-decoration: none;
    color: white;
    padding-left: 20px;
    padding-right:20px;
}
#home_page_header nav a:hover{
    color:rgb(226, 140, 11);
}
.home_page_video_div {
    justify-self: center;
}
#myVideo {
    /* position:fixed; */
    /* right: 0;
    bottom: 0; */
    max-width: 100%;
    max-height: 20%;
    z-index:-1;
}

.content {
    position: fixed;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    
}

header {
    z-index: 0;
}

