body {
    background-color:peru;
}
main {
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.cuteness {
   background-color: pink; 
}
.destruction {
    background-color: rgb(156, 94, 94);
    grid-row: 2;
    grid-column: 2;
    padding: 15px;
}
.destruction div {
    display:grid;
    grid-template-columns: 1fr 1fr;
   
}
.care {
    background-color: lightsalmon;
    grid-column: 2/4; /*The lines of the grid are numbered. 1,2,3,4,*. And 2/4 indicated the space indicates the space between the line. From left to right. They are also numbered from right to left: -1,-2,-3,-4,*. */
}